* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.wrapper {
  width: 400px;
  border: 1px solid red;
  display: flex;
  gap: .25rem;
}

.resize {
  width: 800px;
}

.field {
  flex-grow: 2;
}

.btns {
  flex-grow: 1;
}

.btn {
  width: 100%;
  margin-bottom: .5rem;
  padding: 1rem;
  border-radius: 1rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: steelblue;
  color:azure;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 5px #ccc;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  filter: brightness(1.5);
}

.btn:active {
  transition: all 0.2s ease-in-out;
  filter: brightness(0.5);
}

.text-field {
  outline: 0;
  border: 0;
  padding: .25rem;
  font-size: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #ccc;
}

.text-field:focus {
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid steelblue;
}
